*
{
padding: 0;
margin: 0;
}
body{
    background: linear-gradient(90deg,#8600ff 0%, #ff00fd 80%);
}
label{
    display: block;
}
form{
    margin-left: 50px;
    /* border: 1px solid rgb(238, 0, 0); */
}
button{
    background-color: green;
    color: white;
    padding: 5px;
}
input::placeholder{
    color:blue;
}